{
  "plugins": [
    "transform-class-properties",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["TypeError"]
    }]
  ],
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": 1,
        "browsers": [">= 1%"]
      }
    }]
  ]
}
